/* first section */

.first-section {
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 100px;
    background-color: #1F2937;
    color: white;
}

#main-text {
    font-size: 48px;
    font-weight: bold;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

li {
    color: white;
}

.header-content {
    display: flex;
    justify-content: space-between;
}

.header-content img {
    height: 300px;
    width: 600px;
}

/* second section */

.second-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 250px;
    padding-right: 250px;
    padding-bottom: 100px;
    
}

.images img {
    height: 150px;
    width: 150px;
}

.images {
    gap: 50px;
}

/* third section */

.third-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    padding: 100px 100px;
}

.first {
    max-width: 900px;
    font-size: 36px;
    color: #1F2937;
}

.second {
    font-size: 20px;
    font-weight: bold;
    margin-left: 800px;
}